.mapContainer {
    margin: .5rem 0rem;
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    float:left;
}

@media (max-width: 600px) {
    .mapContainer {
        padding: 0em .5em;
    }
}