.navigation {
    padding: .5rem 6rem;
    background-color: #FCF467;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.skog-logo {
    color: #143671;
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 2rem;
    margin-left: 1rem;
}

.skog-logo:hover {
    cursor: pointer;
}

.top {
    font-size: 2.3rem;
    letter-spacing: -.1rem;
}

.bot {
    font-size: 1.5rem;
}

.skog-img {
    width: 7rem;
}

@media (max-width: 900px) {
    .navigation {
        padding: .5rem 3rem;
    }
}

@media (max-width: 600px) {
    .navigation {
        padding: .5rem 1rem;
    }
    .skog-img {
        width: 5rem;
    }
    .top {
        font-size: 1.8rem;
        letter-spacing: -.1rem;
    }
}