.storeDetail {
    text-align: left;
    padding: 1rem 0rem;
    display:flex;
    flex-direction: row;

    border-bottom: 1px solid lightgray  ;
}

.storeLocation {
    min-width: 20em;
}

.storeStock {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 6rem;
}