:root {
    --button-corner: 5px;
}

.react-switch-checkbox {
    height: 0;
    width: 0;
    position: absolute;
    visibility: hidden;
}

.react-switch {
    cursor: pointer;
    width: 10em;
    height: 4em;
    background: #fff;
    position: relative;
    transition: background-color 0.2s;
    border-radius: var(--button-corner);
    margin-left: auto;
}

.react-switch .react-switch-button {
    position: absolute;
    z-index: 1;
    width: 48%;
    height: 96%;
    left: 50%;
    transition: 0.2s;
    border: solid 2px black;
    border-radius: var(--button-corner);
}

.react-switch-checkbox:checked + .react-switch-button {
    transform: translateX(-100%);
}

.react-switch-checkbox:active + .react-switch-button {
    width: 60px;
}

.react-switch-labels {
    display: relative;
    z-index: 0;
    height: 100%;
    font-weight: 600;
}

.react-switch-labels span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.react-switch-labels span:first-child {
    left: 0;
}
.react-switch-labels span:last-child {
    right: 0;
}

@media (max-width: 600px) {
    .react-switch {
        width: 8em;
        height: 3em;
        margin: 0em auto;
    }
}
